<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Notificações</title>
    {% load static %}
    <script src="{% static 'notificacoes/js/notifications.js' %}" defer></script>
</head>
<body>
    <h1>Central de Notificações</h1>
    <div id="notification-area">
        <!-- As notificações aparecerão aqui -->
    </div>
    <!-- O id do usuário para a conexão WebSocket -->
    {% if user_id_json %}
    <script id="user-id" type="application/json">{{ user_id_json }}</script>
{% else %}
    <script id="user-id" type="application/json">null</script>
{% endif %}


</body>
</html>